# Configurações do Banco de Dados
DATABASE_URL=postgresql://postgres:KQBgHeNvKIVDPRzmrXVgzXtPFLbCeMeX@localhost:5432/railway

# Configurações do Waha
WAHA_API_KEY=qualquer_coisa_123
WAHA_API_URL=http://localhost:3000

# Configurações do Wit.ai (para classificação de intenções)
WIT_AI_TOKEN=PNHF3UDTNQ3W5IYQ55UF37KZ6J327WNK

# Configurações do Servidor
PORT=5000


